body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(./assets/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.button-container button {
    width: 150px;
    height: 50px;
    margin: 10px;
    font-size: 25px;
}

#result,#comp,#score {
    color: rgb(0, 124, 206);
    text-align: center;
    margin-top: 20px;
}

#initials
{
    color: rgb(0, 198, 169);
}

